.container {
    display: grid;
    grid-template-columns: 200px 200px 200px 200px;
    grid-template-rows: 100px 200px 200px 100px;
    margin: 2rem auto;
    width: 1000px;
}
.grid-item-1{
    grid-column: 1 /span 15;
    grid-row:1 /span 4;
    
    background-color:darkgreen;
    
    
  
    
}
.grid-item-2{
    grid-column-start:2;
    grid-column-end:4;
    grid-row: 2 /span 3;
    grid-row-end:4;
    background-color:darkred;
}
.grid-item-3 {
    grid-column-start: 2;
    grid-column-end: 4;
    grid-row-start: 2;
    grid-row-end: 4;
    background-color: purple;
}
.grid-item-4 {
    grid-column-start: 2;
    grid-column-end: 4;
    grid-row-start: 2;
    grid-row-end: 4;
    background-color: purple;
}
.grid-item-5 {
    grid-column-1
    grid-column-end: 4;
    grid-row-start: 2;
    grid-row-end: 4;
    background-color: brown;
}
.grid-item-6 {
    grid-column-start: 2;
    grid-column-end: 4;
    grid-row-start: 2;
    grid-row-end: 4;
    background-color: greenyellow;
}



